h1, h2 { color: #ff8000; font-family: serif; }

h2 { text-align: center; }

nav {
  background: #0000ff;
  padding: 15px 15px 15px 15px;
  border-radius: 15px;

  a { color: #ff8000; font-weight: bold; padding: 10px; font-family: Arial, sans-serif; text-decoration: none; }

  a:hover, a:active { text-decoration: underline; }

}
